@model IEnumerable<Dish>
@{
    ViewData["Title"] = "Dishes";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Dishes</h1>
        </div>
        <div class="col">
            <form method="get" asp-controller="Dish" asp-action="Create">
                <button type="submit" class="btn btn-success">Add New</button>
            </form>
        </div>
    </div>
    <div class="card-deck">
        @foreach (Dish dish in Model)
        {
        <div class="card-body">
            <img src="@dish.Image" alt="@dish.Description" class="img-thumbnail" width="100" /> @dish.Description Best Before: @dish.BestBefore Qty: @dish.Quantity Price: @dish.Price
            <form asp-action="Edit" method="post">
                <input type="hidden" name="dishId" value="@dish.Id" />
                <button class="btn btn-lg fa fa-edit" style="background-color:transparent;" type="submit" />
            </form>
            <form asp-action="Delete" method="post">
                <input type="hidden" name="dishId" value="@dish.Id" />
                <button class="btn btn-lg fa fa-trash-alt" style="background-color:transparent;" type="submit" />
            </form>
        </div>
        }
    </div>
