@model IEnumerable<JustEatIt.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
<a asp-controller="Dish" asp-action="IndexCustomer">Map</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Distributor
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.GetOrderStatus()
            </td>
            <td>
                @item.Partner.Name
            </td>
            <td>
                @item.GetTotal()
            </td>
            <td>
                <a asp-action="OrderDetails" asp-route-id="@item.Id"><button class="btn btn-primary">Order Info</button></a>
            </td>
        </tr>
}
    </tbody>
</table>